<p style="color: green"><%= notice %></p>

<%= render @article %>

<div class="button-group">
  <%= button_to "Editar Articulo", edit_article_path(@article), method: :get, class: "btn btn-primary"%>
  <%= button_to "Volver a Articulos", articles_path, method: :get, class: "btn btn-secondary"%>
  <%= button_to "Eliminar Articulo", @article, method: :delete, class: "btn btn-danger"%>
</div>

<h4>Agregar un comentario:</h4>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h4> Comentarios: </h4>
<%= render @article.comments %>